.advanced-filter{
    display: flex;
    .select-box{
        margin-right: 30px;
        .select__form{
        margin-bottom: 20px;

            &-selection{
                width: 374px;
                padding: 14px 10px;
                display: flex;
                flex-direction: column
            }
        }
    }
    .input-box{
        label{
            span{
                margin-right: 10px;
            }
            .from-input{
                margin-right: 10px;
            margin-bottom: 20px;

            }
            input{
                    padding: 14px 10px;
            }
        }
    }
}